{% extends 'tom_common/base.html' %}
{% load static targets_extras tom_common_extras %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
{% endblock %}
